.App {
  text-align: center;
}

.app-logo {
width: 100px;
}

/* .header {
  background-color: #282c34;
  color: white;
  margin-top: 0px;
  padding: 15px;
}


.app-title{
  margin-left: 100px;
  margin-top: -65px;
  font-size: xx-large;
} */

/* .navbar{
  background-color: indigo;
  margin-top: 0px;
} */


.navbar-dark .navbar-brand{
  font-size: xx-large;
}
